 body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.fundo{
    height: 30px;
    background-color: rgb(255, 255, 255);
    width: 300px;
    text-align: center;
}
.volt_page a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#060769;
    font-size: 20px;
    text-decoration: none;
}

.menu_principal {
    background-color: black;
    margin: 0 auto;
    width: 100%;
    height: 80px;
}

.fundo_de_texto{
    background-color:rgb(221, 221, 221);
    width: 1064px;
    height: 3000px;
    margin: 0 auto;
    overflow: hidden;
}
.fundo_de_texto h1{
    text-align: center;
}
.fundo_de_texto p{
    font-size: 20px;
    padding-left: 50px;
}